<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Photon cure - The best place for your products!">
    <title>Photon Cure</title>
    <link rel="stylesheet" href="bootstrap">
    <style>
        .product-image {
            height: 200px;
            object-fit: contain;
            max-width: 100%;        
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
        <div class="container">
            <a class="navbar-brand" href="{% url 'product_list' %}">Photon Cure</a>      
            <a href="{% url 'cart:cart_detail' %}" class="btn btn-outline-secondary">Cart</a>

        </div>
    </nav>    
        <div class="container mt-4">
            <h1 class="text-center mb-4">Photon cure</h1>
            {% block content %}
              
            {% endblock content %}
        </div>

        <script src=""></script>
</body>
</html>