{% extends "base.html" %}

{% block content %}
<div class="card mb-4">
    <img src="{{ product.image.url }}" class="card-img-top" style="max-height: 400px; object-fit: contain;" alt="product.name">
    <div class="card-body">
        <h2></h2>
        <p></p>
        <p></p>
        <form action="{% url 'cart:cart_add' product.id %}" method="post" class="mt">
            {% csrf_token %}
            <input type="hidden" name="quantity" value="1">
            <button type="submit" class="btn btn-success">Add to Cart</button>
        </form>
    </div>



</div>

<a href="{% url 'product_list' %}" class="btn btn-secondary"><-- Back to Products</a>

{% endblock content %}  